
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Admin/AdminMaster.cshtml";
}

<div style="display: flex; justify-content: space-evenly;margin-top:100px">
    
        <div style="background-color:rgb(11 6 121);border:none;border-radius:30px; height:200px;width:20%;">

            <div style="width:100%;color:white;text-align:center;margin-top:50px;text-decoration:none;">
                @Html.ActionLink("BOOK APPOINTMENT ", "AddAppointments", "Admin", new { @style = "width:100%;color:white;text-align:center;margin-top:50px;text-decoration:none;font-weight:bold;font-size:20px" })
                <br />
                <i class="bi-calendar-plus-fill" style="font-size:64px"></i>
            </div>
        </div>
        <div style="background-color: rgb(255 0 0); border: none; border-radius: 30px; height: 200px; width: 20% ">
            <div style="width:100%;color:white;text-align:center;margin-top:50px">
                @Html.ActionLink("VIEW ALL APPOINTMENT ", "ViewAppointment", "Admin", new { @style = "width:100%;color:white;text-align:center;margin-top:50px;text-decoration:none;font-weight:bold;font-size:20px" })
                <br />
                <i class="bi-calendar4-event" style="font-size:64px"></i>
            </div>
        </div>
        <div ></div>
    
        <div style="background-color: green; border: none; border-radius: 30px; height: 200px; width: 20% ">
            <div style="width:100%;color:white;text-align:center;margin-top:50px">
                @Html.ActionLink("SCHEDULED APPOINTMENTS ", "SAppointment", "Admin", new { @style = "width:100%;color:white;text-align:center;margin-top:50px;text-decoration:none;font-weight:bold;font-size:20px" })
                <br />
                <i class="bi-calendar4-event" style="font-size:64px"></i>
            </div>
        </div>
        <div style="background-color: blue; border: none; border-radius: 30px; height: 200px; width: 20% ">
            <div style="width:100%;color:white;text-align:center;margin-top:50px">
                @Html.ActionLink(" CONSULTED APPOINTMENTS ", "CAppointment", "Admin", new { @style = "width:100%;color:white;text-align:center;margin-top:50px;text-decoration:none;font-weight:bold;font-size:20px" })
                <br />
                <i class="bi-calendar4-event" style="font-size:64px"></i>
            </div>
        </div>
     
    </div>

