
@{
    ViewBag.Title = "FacilityPage";
    Layout = "~/Views/HomePage/HomeMaster.cshtml";
}

<section class="facility" id="facility">

    <div class="container">

        <h1 class="heading"><span>'</span> our facilities <span>'</span></h1>

        <div class="box-container">
            <div class="box" data-aos="zoom-in">
                <a href="~/images/home7.jpg" title="expert doctors">
                    <img src="~/images/home7.jpg" alt="">
                </a>
            </div>
            <div class="box" data-aos="zoom-in">
                <a href="~/images/service6.jpg" title="expert doctors">
                    <img src="~/images/service6.jpg" alt="">
                </a>
            </div>
            <div class="box" data-aos="zoom-in">
                <a href="~/images/home5.jpg" title="emergency rooms">
                    <img src="~/images/home5.jpg" alt="">
                </a>
            </div>
            <div class="box" data-aos="zoom-in">
                <a href="~/images/service8.jpg" title="our team">
                    <img src="~/images/service8.jpg" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="~/images/service2.jpg" title="our lab">
                    <img src="~/images/service2.jpg" alt="">
                </a>
            </div>







            <div class="box" data-aos="zoom-in">
                <a href="~/images/service5.jpg" title="emergency rooms">
                    <img src="~/images/service5.jpg" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="~/images/service4.jpg" title="expert doctors">
                    <img src="~/images/service4.jpg" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="~/images/service1.jpg" title="emergency rooms">
                    <img src="~/images/service1.jpg" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="~/images/service1.jpg" title="enough beds">
                    <img src="~/images/bed.jpg" alt="">
                </a>
            </div>

        </div>

    </div>

</section>
<section class="footer">

    <div class="container" style="margin-top:30px">

        <div class="row">

            <div class="col-md-5" data-aos="fade-right">
                <a href="#" class="logo"><h2><span>R</span>ajagiri<span> H</span>ospital</h2></a>
                <p>
                    Rajagiri Hospital is one of the leading subspecialties equipped with highly trained and experienced physicians as well as more advanced technological
                    infrastructure specializing in the treatment and care of infants, children, adolescents and adult women.
                </p>
            </div>

            <div class="col-md-3 text-center" data-aos="fade-up">
                <h2>links</h2>
                <a href="#">home</a>
                <a href="#">about</a>
                <a href="#">facility</a>
                <a href="#">review</a>
            </div>

            <div class="col-md-3 text-center" data-aos="fade-left">
                <h2>share</h2>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">github</a>
            </div>

        </div>

    </div>

    <h5 class="credit text-center mx-auto"><span>HospitalPolicy</span><i class='far fa-copyright'></i>2021 | all rights reserved.</h5>

</section>

