
@{
    ViewBag.Title = "ReviewPage";
    Layout = "~/Views/HomePage/HomeMaster.cshtml";
}

<section class="review" id="review">

    <div class="container">

        <h1 class="heading"><span>'</span> people's review <span>'</span></h1>

        <div class="box-container">

            <div class="box" data-aos="fade-right">
                <p>
                    It's happy to say that we are really happy with the service and support by the staff and the Doctors.Rajagiri is one of the best hospital in Thrissur.
                </p>
                <h3>Kiran </h3>
                <span>Nov 29, 2021</span>
                <img src="~/images/review1.jpg" alt="">
            </div>

            <div class="box" data-aos="fade-up">
                <p>
                    Happy with the staff.Good Ambience.Very much satisfied.Very good treatement and affordable too.Rooms are also very clean.
                </p>
                <h3>Preetha </h3>
                <span>Sept 5, 2021</span>
                <img src="~/images/review2.jpg" alt="">
            </div>

            <div class="box" data-aos="fade-left">
                <p>
                    They provide high quality care with affordable cost.Hospital has large parking area.The whole process smooth and well organized.
                </p>
                <h3>Meera Varma </h3>
                <span>Dec 10, 2021</span>
                <img src="~/images/review3.jpg" alt="">
            </div>

        </div>

    </div>

</section>

<section class="footer">

    <div class="container" style="margin-top:30px">

        <div class="row">

            <div class="col-md-5" data-aos="fade-right">
                <a href="#" class="logo"><h2><span>R</span>ajagiri<span> H</span>ospital</h2></a>
                <p>
                    Rajagiri Hospital is one of the leading subspecialties equipped with highly trained and experienced physicians as well as more advanced technological
                    infrastructure specializing in the treatment and care of infants, children, adolescents and adult women.
                </p>
            </div>

            <div class="col-md-3 text-center" data-aos="fade-up">
                <h2>links</h2>
                <a href="#">home</a>
                <a href="#">about</a>
                <a href="#">facility</a>
                <a href="#">review</a>
            </div>

            <div class="col-md-3 text-center" data-aos="fade-left">
                <h2>share</h2>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">github</a>
            </div>

        </div>

    </div>

    <h5 class="credit text-center mx-auto"><span>HospitalPolicy</span><i class='far fa-copyright'></i>2021 | all rights reserved.</h5>

</section>
