
@{
    ViewBag.Title = "DoctorHome";
    Layout = "~/Views/Doctor/DoctorMaster.cshtml";
}



<div style="width: auto; padding-left:60px">
    <h2 class="text-danger" style="height:25px;font-size:20px">
        <marquee width="100%" direction="left">



            **WELCOME DOCTOR**
            ***The good physician treats the disease,the great physician treats the patient who has the disease
            -William Osler***

        </marquee>
    </h2>
</div>
<div>
    <img src="https://www.ictandhealth.com/wp-content/uploads/2020/03/Nurse-Computer-Telemedicine.1250.jpg" style="width:100%; height: 500px; background-repeat: no-repeat; background-size: cover" />

</div>
